.footer-external-links-container {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 60px;
}

.footer-external-links-list {
  list-style-type: none;
  margin-bottom: 85px;
}

.footer-external-links-list li {
  float: left;
}

.external-links-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.footer-fb-icon:hover {
  color: #3b5998 !important;
}

.footer-github-icon:hover {
  color: #211F1F !important;
}

.gmail-line:hover .footer-google-icon{
  color: #DE5246 !important;
}