.footer-external-links-container {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 60px;
}

.footer-external-links-list {
  list-style-type: none;
  margin-bottom: 70px;
}

.footer-external-links-list li {
  float: left;
}

.external-links-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.footer-fb-icon:hover {
  color: #3b5998 !important;
}

.footer-linkedin-icon:hover {
  color: #0e76a8 !important;
}

.footer-github-icon:hover {
  color: #211F1F !important;
}

.footer-skype-icon:hover {
  color: #00aff0 !important;
}

.gmail-line:hover .footer-google-icon{
  color: #DE5246 !important;
}


@media (max-width: 310px) {
  .external-links-wrapper {
    margin-right: 15px;
    margin-left: 15px;
  }
}