body {
  background-color: rgb(15, 15, 15);
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 700 !important;
}

.slide {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.slide-content-container {
  padding-left: 145px;
  padding-right: 145px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.description {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(31, 31, 31); 
  border-radius: 5px;
}

.tap-to {
  display: none;
}

.description {
  font-size: 1.3rem;
  line-height: 2 !important;
}

.text-highlight {
  background-image: linear-gradient(to right, transparent 50%, rgb(59, 59, 59)  50%);
  transition: background-color 0.2s linear;
  background-position: 0;
  background-size: 200%;
  transition: all 0.2s;
}

.text-highlight:hover {
  background-position: -100%;
  color: #e0e0e0 !important;
}

.text-highlight-reverse {
  background-image: linear-gradient(to right, rgb(59, 59, 59)  50%, transparent 50%);
  transition: background-color 0.2s linear;
  background-position: -100%;
  background-size: 200%;
  transition: all 0.2s;
}

.text-highlight-reverse:hover {
  background-position: 0;
  color: #e0e0e0 !important;
}

.clickable {
  cursor: pointer;
}

.little-text {
  font-size: 1.2rem;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: rgb(104, 104, 104);
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.no-margin {
  padding: 0 !important;
  margin: 0 !important;
}

textarea {
  resize: none;
}

@media (max-width: 900px) {
  .slide-content-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .tap-to {
    display: inline;
  }

  .click-to {
    display: none;
  }
}

@media (max-width: 550px) {
  .portfolio-header {
    padding-top: 20px;
  }
}

@media (max-width: 520px) {
  .portfolio-header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .description {
    font-size: 1.15rem;
    line-height: 1.5 !important;
  }

  .slide-content-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}