#nav-overlay-container {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  opacity: 1 !important;
  position: absolute;
  z-index: 12;
  display: none;
  /* display: grid; */
  align-items: center;
  justify-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

#nav-overlay-wrapper {
  width: 600px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.cards-container {
  width: 100%;
}

.nav-item-container {
  width: 100%;
  height: 200px;
  background-color: #1a1a1a;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  user-select: none;
}

.nav-item-container h3 {
  font-size: 3em !important;
  user-select: none;
}

#nav-item-1 {
  transform: translateY(-350px);
  animation-name: bring-down;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.4s;
}
#nav-item-2 {
  transform: translateY(-350px);
  animation-name: bring-down;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
}
#nav-item-3 {
  transform: translateY(-350px);
  animation-name: bring-down;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
}

@keyframes bring-down {
  from {
    transform: translateY(-350px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  #nav-overlay-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .nav-item-container {
    height: 150px;
  }
}

@media (max-height: 650px) {
  .nav-item-container {
    height: 150px;
  }
}

@media (max-height: 450px) {
  .nav-item-container {
    height: 100px;
  }

  .nav-item-container h3 {
    font-size: 2em !important;
  }
}