#project-viewer {
  position: absolute;
  z-index: 3;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(245, 245, 245, 0.965);
}

#project-viewer-container {
  padding-left: 463px;
  padding-right: 463px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.image-preview-window {
  width: 100%;
  height: auto;
  box-shadow: 8px 12px 14px rgba(26, 26, 26, 0.466);
  position: relative;
  margin-top: 10px;
  margin-bottom: 80px;
  background-color: rgb(51, 51, 51);
}

.image-preview-title-bar {
  margin: 0 !important;
  width: 100%;
  height: 40px;
  background-color: #353535;
}

.p-close, .p-minimize, .p-maximize {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 9.5px;
}

.p-close {
  right: 12px;
}

.p-minimize {
  right: 40px;
}

.p-maximize {
  right: 68px;
}


#project-viewer-heading {
  margin-bottom: 0 !important;
}

#project-description-container {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
}

#tools-list li::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
}

#remote-repository-container {
  margin-bottom: 45px;
}

.web-link-alt {
  display: none;
}

.image-preview-container {
  height: 600px;
  width: 100%;
}


@media (max-width: 1700px) {
  #project-viewer-container {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (max-width: 1400px) {
  #project-viewer-container {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .image-preview-container {
    height: 550px;
  }
}


@media (max-width: 1200px) {
  #project-viewer-container {
    padding-left: 150px;
    padding-right: 150px;
  }

  .image-preview-container {
    height: 450px;
  }
}

@media (max-width: 900px) {
  #project-viewer-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .web-link-btn {
    display: none;
  }

  .web-link-alt {
    display: block;
  }

  .image-preview-container {
    height: 320px;
  }
}

@media (max-width: 600px) {
  .image-preview-title-bar {
    height: 30px;
  }
  
  .image-preview-container {
    height: 300px;
  }

  .p-close, .p-minimize, .p-maximize {
    width: 16px;
    height: 16px;
    top: 6px;
  }
  
  .p-close {
    right: 8px;
  }
  
  .p-minimize {
    right: 28px;
  }
  
  .p-maximize {
    right: 48px;
  }

}

@media (max-width: 550px) {
  #project-viewer-container {
    padding-top: 70px;
  }


  #remote-repository-container {
    margin-bottom: 25px;
  }

}

@media (max-width: 520px) {
  #project-viewer-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
  
  .image-preview-container {
    height: 280px;
  }

  #project-preview-heading-container,
  #project-description-container,
  #technical-section-container,
  #remote-repository-container  {
    padding-left: 15px;
    padding-right: 15px;
  }
}